.paragraph_style {
    color: rgb(78, 29, 1);
    font-family: 'HoeflerText-Regular', 'Hoefler Text', 'Times New Roman', serif;
    font-size: 16px;
    font-stretch: normal;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    letter-spacing: 0;
    line-height: 21px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    opacity: 1.00;
    padding-bottom: 0px;
    padding-top: 0px;
    text-align: left;
    text-decoration: none;
    text-indent: 0px;
    text-transform: none;
}
.paragraph_style_1 {
    color: rgb(78, 29, 1);
    font-family: 'Baskerville-SemiBold', 'Baskerville', 'Times New Roman', serif;
    font-size: 54px;
    font-stretch: normal;
    font-style: normal;
    font-variant: normal;
    font-weight: 600;
    letter-spacing: 0;
    line-height: 67px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    opacity: 1.00;
    padding-bottom: 0px;
    padding-top: 0px;
    text-align: center;
    text-decoration: none;
    text-indent: 0px;
    text-transform: none;
}
.paragraph_style_2 {
    color: rgb(78, 29, 1);
    font-family: 'Gulim';
    font-size: 12px;
    font-stretch: normal;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    letter-spacing: 0;
    line-height: 11px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    opacity: 1.00;
    padding-bottom: 0px;
    padding-top: 0px;
    text-align: left;
    text-decoration: none;
    text-indent: 0px;
    text-transform: none;
}
.paragraph_style_3 {
    color: rgb(78, 29, 1);
    font-family: 'Gulim';
    font-size: 12px;
    font-stretch: normal;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    letter-spacing: 0;
    line-height: 15px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    opacity: 1.00;
    padding-bottom: 0px;
    padding-top: 0px;
    text-align: left;
    text-decoration: none;
    text-indent: 0px;
    text-transform: none;
}
.style_SkipStroke_2 {
    background: transparent;
    opacity: 1.00;
}
.style_SkipStroke_3 {
    background: transparent;
    opacity: 1.00;
}
.style_SkipStroke {
    background: transparent;
    opacity: 1.00;
}
.style_SkipStroke_1 {
    background: transparent;
    opacity: 1.00;
}
.Body {
    color: rgb(78, 29, 1);
    font-family: 'HoeflerText-Regular', 'Hoefler Text', 'Times New Roman', serif;
    font-size: 13px;
    font-stretch: normal;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    letter-spacing: 0;
    line-height: 18px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    opacity: 1.00;
    padding-bottom: 0px;
    padding-top: 0px;
    text-align: left;
    text-decoration: none;
    text-indent: 0px;
    text-transform: none;
}
.Header {
    color: rgb(209, 84, 57);
    font-family: 'Baskerville-SemiBold', 'Baskerville', 'Times New Roman', serif;
    font-size: 54px;
    font-stretch: normal;
    font-style: normal;
    font-variant: normal;
    font-weight: 600;
    letter-spacing: 0;
    line-height: 61px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    opacity: 1.00;
    padding-bottom: 0px;
    padding-top: 0px;
    text-align: left;
    text-decoration: none;
    text-indent: 0px;
    text-transform: none;
}
.Normal_External_269_63 {
    position: relative;
}
.Normal_External_107_33 {
    position: relative;
}
.Normal_External_488_70 {
    position: relative;
}
.Normal_External_228_62 {
    position: relative;
}
.Normal_External_228_37 {
    position: relative;
}
.Normal_External_104_20 {
    position: relative;
}
.Normal {
    padding: 0px;
}
.Normal_External_228_74 {
    position: relative;
}
.Normal_External_269_23 {
    position: relative;
}
.Normal_External_216_41 {
    position: relative;
}
.Normal_External_195_26 {
    position: relative;
}
.Normal_External_300_87 {
    position: relative;
}
.Normal_External_269_104 {
    position: relative;
}
.Normal_External_534_70 {
    position: relative;
}
.Normal_External_243_104 {
    position: relative;
}
.Normal_External_487_41 {
    position: relative;
}
.Normal_External_253_21 {
    position: relative;
}
.Normal_External_490_448 {
    position: relative;
}
.Normal_External_249_43 {
    position: relative;
}
.Normal_External_304_41 {
    position: relative;
}
.Normal_External_269_250 {
    position: relative;
}
.Normal_External_226_125 {
    position: relative;
}
.Normal_External_490_77 {
    position: relative;
}
.Normal_External_254_125 {
    position: relative;
}
.Normal_External_205_104 {
    position: relative;
}
.Normal_External_530_61 {
    position: relative;
}
.Normal_External_304_26 {
    position: relative;
}
.Normal_External_158_83 {
    position: relative;
}
.Normal_External_200_106 {
    position: relative;
}
.Normal_External_232_41 {
    position: relative;
}
.Normal_External_269_68 {
    position: relative;
}
.Normal_External_208_112 {
    position: relative;
}
.Normal_External_501_62 {
    position: relative;
}
.Normal_External_292_62 {
    position: relative;
}
.Normal_External_188_146 {
    position: relative;
}
.Normal_External_173_104 {
    position: relative;
}
.Title {
    color: rgb(209, 84, 57);
    font-family: 'Baskerville-SemiBold', 'Baskerville', 'Times New Roman', serif;
    font-size: 24px;
    font-stretch: normal;
    font-style: normal;
    font-variant: normal;
    font-weight: 600;
    letter-spacing: 0;
    line-height: 28px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    opacity: 1.00;
    padding-bottom: 0px;
    padding-top: 0px;
    text-align: left;
    text-decoration: none;
    text-indent: 0px;
    text-transform: none;
}
.graphic_generic_body_textbox_style_default_SkipStroke {
    background: transparent;
    opacity: 1.00;
}
.graphic_generic_header_textbox_style_default_SkipStroke {
    background: transparent;
    opacity: 1.00;
}
.graphic_generic_title_textbox_style_default_SkipStroke {
    background: transparent;
    opacity: 1.00;
}
.graphic_image_style_default_SkipStroke {
    background: transparent;
    opacity: 1.00;
}
.bumper {
    font-size: 1px;
    line-height: 1px;
}
.spacer {
    font-size: 1px;
    line-height: 1px;
}
body { 
    -webkit-text-size-adjust: none;
}
div { 
    overflow: visible; 
}
img { 
    border: none; 
}
.InlineBlock { 
    display: inline; 
}
.InlineBlock { 
    display: inline-block; 
}
.inline-block {
    display: inline-block;
    vertical-align: baseline;
    margin-bottom:0.3em;
}
.inline-block.shape-with-text {
    vertical-align: bottom;
}
.vertical-align-middle-middlebox {
    display: table;
}
.vertical-align-middle-innerbox {
    display: table-cell;
    vertical-align: middle;
}
div.paragraph {
    position: relative;
}
li.full-width {
    width: 100;
}
