.paragraph_style {
    color: rgb(78, 29, 2);
    font-family: 'HoeflerText-Regular', 'Hoefler Text', 'Times New Roman', serif;
    font-size: 16px;
    font-stretch: normal;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    letter-spacing: 0;
    line-height: 21px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    opacity: 1.00;
    padding-bottom: 0px;
    padding-top: 0px;
    text-align: left;
    text-decoration: none;
    text-indent: 0px;
    text-transform: none;
}
.paragraph_style_1 {
    color: rgb(78, 29, 2);
    font-family: 'Baskerville-SemiBold', 'Baskerville', 'Times New Roman', serif;
    font-size: 54px;
    font-stretch: normal;
    font-style: normal;
    font-variant: normal;
    font-weight: 600;
    letter-spacing: 0;
    line-height: 67px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    opacity: 1.00;
    padding-bottom: 0px;
    padding-top: 0px;
    text-align: center;
    text-decoration: none;
    text-indent: 0px;
    text-transform: none;
}
.style_SkipStroke_2 {
    background: transparent;
    opacity: 1.00;
}
.style_SkipStroke_3 {
    background: transparent;
    opacity: 1.00;
}
.style_SkipStroke {
    background: transparent;
    opacity: 1.00;
}
.style_SkipStroke_1 {
    background: transparent;
    opacity: 1.00;
}
.Body {
    color: rgb(78, 29, 2);
    font-family: 'HoeflerText-Regular', 'Hoefler Text', 'Times New Roman', serif;
    font-size: 13px;
    font-stretch: normal;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    letter-spacing: 0;
    line-height: 18px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    opacity: 1.00;
    padding-bottom: 0px;
    padding-top: 0px;
    text-align: left;
    text-decoration: none;
    text-indent: 0px;
    text-transform: none;
}
.Header {
    color: rgb(209, 84, 57);
    font-family: 'Baskerville-SemiBold', 'Baskerville', 'Times New Roman', serif;
    font-size: 54px;
    font-stretch: normal;
    font-style: normal;
    font-variant: normal;
    font-weight: 600;
    letter-spacing: 0;
    line-height: 61px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    opacity: 1.00;
    padding-bottom: 0px;
    padding-top: 0px;
    text-align: left;
    text-decoration: none;
    text-indent: 0px;
    text-transform: none;
}
.Normal_External_530_61 {
    position: relative;
}
.Normal_External_349_62 {
    position: relative;
}
.Normal_External_336_83 {
    position: relative;
}
.Normal_External_329_42 {
    position: relative;
}
.Normal_External_307_83 {
    position: relative;
}
.Normal_External_334_125 {
    position: relative;
}
.Normal_External_264_229 {
    position: relative;
}
.Normal_External_434_125 {
    position: relative;
}
.Normal_External_349_125 {
    position: relative;
}
.Normal_External_279_229 {
    position: relative;
}
.Normal_External_303_146 {
    position: relative;
}
.Normal_External_273_62 {
    position: relative;
}
.Normal_External_374_188 {
    position: relative;
}
.Normal_External_757_71 {
    position: relative;
}
.Normal_External_729_308 {
    position: relative;
}
.Normal_External_267_83 {
    position: relative;
}
.Normal_External_349_83 {
    position: relative;
}
.Normal_External_264_41 {
    position: relative;
}
.Normal_External_307_188 {
    position: relative;
}
.Normal_External_357_209 {
    position: relative;
}
.Normal_External_490_77 {
    position: relative;
}
.Normal_External_334_84 {
    position: relative;
}
.Normal_External_763_104 {
    position: relative;
}
.Normal_External_270_83 {
    position: relative;
}
.Normal_External_374_62 {
    position: relative;
}
.Normal_External_420_83 {
    position: relative;
}
.Normal_External_394_64 {
    position: relative;
}
.Normal_External_380_83 {
    position: relative;
}
.Normal_External_339_146 {
    position: relative;
}
.Normal_External_396_98 {
    position: relative;
}
.Normal_External_391_104 {
    position: relative;
}
.Normal_External_375_64 {
    position: relative;
}
.Normal_External_735_51 {
    position: relative;
}
.Normal_External_735_146 {
    position: relative;
}
.Normal_External_321_49 {
    position: relative;
}
.Normal_External_501_62 {
    position: relative;
}
.Normal_External_134_38 {
    position: relative;
}
.Normal_External_346_64 {
    position: relative;
}
.Normal_External_421_104 {
    position: relative;
}
.Normal {
    padding: 0px;
}
.Normal_External_290_104 {
    position: relative;
}
.Normal_External_351_49 {
    position: relative;
}
.Normal_External_310_64 {
    position: relative;
}
.Normal_External_742_146 {
    position: relative;
}
.Title {
    color: rgb(209, 84, 57);
    font-family: 'Baskerville-SemiBold', 'Baskerville', 'Times New Roman', serif;
    font-size: 24px;
    font-stretch: normal;
    font-style: normal;
    font-variant: normal;
    font-weight: 600;
    letter-spacing: 0;
    line-height: 28px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    opacity: 1.00;
    padding-bottom: 0px;
    padding-top: 0px;
    text-align: left;
    text-decoration: none;
    text-indent: 0px;
    text-transform: none;
}
.graphic_generic_body_textbox_style_default_SkipStroke {
    background: transparent;
    opacity: 1.00;
}
.graphic_generic_header_textbox_style_default_SkipStroke {
    background: transparent;
    opacity: 1.00;
}
.graphic_generic_title_textbox_style_default_SkipStroke {
    background: transparent;
    opacity: 1.00;
}
.graphic_image_style_default_SkipStroke {
    background: transparent;
    opacity: 1.00;
}
.bumper {
    font-size: 1px;
    line-height: 1px;
}
.spacer {
    font-size: 1px;
    line-height: 1px;
}
body { 
    -webkit-text-size-adjust: none;
}
div { 
    overflow: visible; 
}
img { 
    border: none; 
}
.InlineBlock { 
    display: inline; 
}
.InlineBlock { 
    display: inline-block; 
}
.inline-block {
    display: inline-block;
    vertical-align: baseline;
    margin-bottom:0.3em;
}
.inline-block.shape-with-text {
    vertical-align: bottom;
}
.vertical-align-middle-middlebox {
    display: table;
}
.vertical-align-middle-innerbox {
    display: table-cell;
    vertical-align: middle;
}
div.paragraph {
    position: relative;
}
li.full-width {
    width: 100;
}
