.para1{font-size: 0; text-align:left; padding-bottom:11px; margin-top:0px; padding-top:0px;}
.Style2{font-family:  'Baskerville-SemiBold', 'Baskerville' ,'Times New Roman' ,serif ;
 font-size: 24px; 
 font-weight:600; 
 color: #DB6A47;
 word-wrap: break-word;}
.Style3{font-family:  'Baskerville-SemiBold', 'Baskerville' ,'Times New Roman' ,serif ;
 font-size: 54px; 
 font-weight:700; 
 color: #DB6A48;
 word-wrap: break-word;}
.Style4{font-family:  'Baskerville' ,'Times New Roman' ,serif ;
 font-size: 16px; 
 color: #1E1B25;
 word-wrap: break-word;}
.Style5{font-family:  'Baskerville' ,'Times New Roman' ,serif ;
 font-size: 16px; 
 color: #1C1B25;
 word-wrap: break-word;}
.para6{font-size: 0; text-align:left; padding-bottom:0px; margin-top:0px; padding-top:0px;}
.Style7{font-family:  'Baskerville' ,'Times New Roman' ,serif ;
 font-size: 16px; 
 background-color: #F2DF93; 
 word-wrap: break-word;}
.para8{font-size: 0; text-align:center; padding-bottom:11px; margin-top:0px; padding-top:0px;}
a.outerlink{text-decoration:none}
.animhidden{opacity: 0}
.animvisible{opacity: 1}
.Style12{font-family:  'Baskerville-SemiBold', 'Baskerville' ,'Times New Roman' ,serif ;
 font-size: 24px; 
 font-weight:600; 
 color: #CE7112;
 word-wrap: break-word;}
.Style13{font-family:  'Helvetica' ,sans-serif ;
 font-size: 12px; 
 word-wrap: break-word;}
.Style14{font-family:  'Baskerville-Italic', 'Baskerville' ,'Times New Roman' ,serif ;
 font-size: 24px; 
 font-style: italic;
 color: #1E1B25;
 word-wrap: break-word;}
.Style15{font-family:  'Baskerville-SemiBold', 'Baskerville' ,'Times New Roman' ,serif ;
 font-size: 54px; 
 font-weight:700; 
 color: #4D1C01;
 word-wrap: break-word;}
.Style16{font-family:  'Baskerville' ,'Times New Roman' ,serif ;
 font-size: 24px; 
 color: #4D1C01;
 word-wrap: break-word;}