.paragraph_style {
    color: rgb(78, 29, 2);
    font-family: 'HoeflerText-Regular', 'Hoefler Text', 'Times New Roman', serif;
    font-size: 16px;
    font-stretch: normal;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    letter-spacing: 0;
    line-height: 21px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    opacity: 1.00;
    padding-bottom: 0px;
    padding-top: 0px;
    text-align: left;
    text-decoration: none;
    text-indent: 0px;
    text-transform: none;
}
.paragraph_style_1 {
    color: rgb(78, 29, 2);
    font-family: 'Baskerville-SemiBold', 'Baskerville', 'Times New Roman', serif;
    font-size: 54px;
    font-stretch: normal;
    font-style: normal;
    font-variant: normal;
    font-weight: 600;
    letter-spacing: 0;
    line-height: 67px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    opacity: 1.00;
    padding-bottom: 0px;
    padding-top: 0px;
    text-align: center;
    text-decoration: none;
    text-indent: 0px;
    text-transform: none;
}
.paragraph_style_2 {
    color: rgb(78, 29, 2);
    font-family: 'HoeflerText-Regular', 'Hoefler Text', 'Times New Roman', serif;
    font-size: 24px;
    font-stretch: normal;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    letter-spacing: 0;
    line-height: 32px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    opacity: 1.00;
    padding-bottom: 0px;
    padding-top: 0px;
    text-align: left;
    text-decoration: none;
    text-indent: 0px;
    text-transform: none;
}
.style {
    font-family: 'HoeflerText-Black', 'Hoefler Text', 'Times New Roman', serif;
    font-size: 16px;
    font-stretch: normal;
    font-style: normal;
    font-weight: 700;
    line-height: 21px;
}
.style_1 {
    font-family: 'HoeflerText-Regular', 'Hoefler Text', 'Times New Roman', serif;
    font-size: 18px;
    font-stretch: normal;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
}
.paragraph_style_3 {
    color: rgb(78, 29, 2);
    font-family: 'HoeflerText-Regular', 'Hoefler Text', 'Times New Roman', serif;
    font-size: 16px;
    font-stretch: normal;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    letter-spacing: 0;
    line-height: 21px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    opacity: 1.00;
    padding-bottom: 0px;
    padding-top: 0px;
    text-align: left;
    text-decoration: none;
    text-indent: 0px;
    text-transform: none;
}
.style_SkipStroke_2 {
    background: transparent;
    opacity: 1.00;
}
.style_SkipStroke_3 {
    background: transparent;
    opacity: 1.00;
}
.style_SkipStroke {
    background: transparent;
    opacity: 1.00;
}
.style_SkipStroke_1 {
    background: transparent;
    opacity: 1.00;
}
.Body {
    color: rgb(78, 29, 2);
    font-family: 'HoeflerText-Regular', 'Hoefler Text', 'Times New Roman', serif;
    font-size: 13px;
    font-stretch: normal;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    letter-spacing: 0;
    line-height: 18px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    opacity: 1.00;
    padding-bottom: 0px;
    padding-top: 0px;
    text-align: left;
    text-decoration: none;
    text-indent: 0px;
    text-transform: none;
}
.Header {
    color: rgb(209, 84, 57);
    font-family: 'Baskerville-SemiBold', 'Baskerville', 'Times New Roman', serif;
    font-size: 54px;
    font-stretch: normal;
    font-style: normal;
    font-variant: normal;
    font-weight: 600;
    letter-spacing: 0;
    line-height: 61px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    opacity: 1.00;
    padding-bottom: 0px;
    padding-top: 0px;
    text-align: left;
    text-decoration: none;
    text-indent: 0px;
    text-transform: none;
}
.Normal_External_530_61 {
    position: relative;
}
.Normal_External_171_209 {
    position: relative;
}
.Normal_External_136_146 {
    position: relative;
}
.Normal_External_335_104 {
    position: relative;
}
.Normal_External_769_22 {
    position: relative;
}
.Normal_External_201_25 {
    position: relative;
}
.Normal_External_353_41 {
    position: relative;
}
.Normal_External_742_41 {
    position: relative;
}
.Normal_External_768_54 {
    position: relative;
}
.Normal_External_133_103 {
    position: relative;
}
.Normal_External_769_62 {
    position: relative;
}
.Normal_External_742_45 {
    position: relative;
}
.Normal_External_759_62 {
    position: relative;
}
.Normal_External_134_150 {
    position: relative;
}
.Normal_External_697_23 {
    position: relative;
}
.Normal_External_236_330 {
    position: relative;
}
.Normal_External_772_56 {
    position: relative;
}
.Normal_External_769_41 {
    position: relative;
}
.Normal_External_490_77 {
    position: relative;
}
.Normal_External_789_41 {
    position: relative;
}
.Normal_External_729_181 {
    position: relative;
}
.Normal_External_289_250 {
    position: relative;
}
.Normal_External_389_94 {
    position: relative;
}
.Normal_External_522_41 {
    position: relative;
}
.Normal_External_741_104 {
    position: relative;
}
.Normal_External_789_104 {
    position: relative;
}
.Normal_External_513_107 {
    position: relative;
}
.Normal_External_462_41 {
    position: relative;
}
.Normal_External_141_41 {
    position: relative;
}
.Normal_External_656_41 {
    position: relative;
}
.Normal_External_245_80 {
    position: relative;
}
.Normal_External_736_41 {
    position: relative;
}
.Normal_External_746_62 {
    position: relative;
}
.Normal_External_768_66 {
    position: relative;
}
.Normal_External_742_29 {
    position: relative;
}
.Normal_External_201_62 {
    position: relative;
}
.Normal_External_742_65 {
    position: relative;
}
.Normal_External_364_66 {
    position: relative;
}
.Normal_External_509_95 {
    position: relative;
}
.Normal_External_125_125 {
    position: relative;
}
.Normal_External_95_49 {
    position: relative;
}
.Normal_External_471_104 {
    position: relative;
}
.Normal_External_245_209 {
    position: relative;
}
.Normal_External_523_62 {
    position: relative;
}
.Normal_External_151_62 {
    position: relative;
}
.Normal_External_151_83 {
    position: relative;
}
.Normal_External_742_68 {
    position: relative;
}
.Normal_External_710_62 {
    position: relative;
}
.Normal_External_789_62 {
    position: relative;
}
.Normal_External_780_83 {
    position: relative;
}
.Normal_External_742_84 {
    position: relative;
}
.Normal_External_772_83 {
    position: relative;
}
.Normal_External_448_62 {
    position: relative;
}
.Normal_External_276_28 {
    position: relative;
}
.Normal_External_418_52 {
    position: relative;
}
.Normal_External_742_209 {
    position: relative;
}
.Normal_External_773_270 {
    position: relative;
}
.Normal {
    padding: 0px;
}
.Normal_External_186_125 {
    position: relative;
}
.Title {
    color: rgb(209, 84, 57);
    font-family: 'Baskerville-SemiBold', 'Baskerville', 'Times New Roman', serif;
    font-size: 24px;
    font-stretch: normal;
    font-style: normal;
    font-variant: normal;
    font-weight: 600;
    letter-spacing: 0;
    line-height: 28px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    opacity: 1.00;
    padding-bottom: 0px;
    padding-top: 0px;
    text-align: left;
    text-decoration: none;
    text-indent: 0px;
    text-transform: none;
}
.graphic_generic_body_textbox_style_default_SkipStroke {
    background: transparent;
    opacity: 1.00;
}
.graphic_generic_header_textbox_style_default_SkipStroke {
    background: transparent;
    opacity: 1.00;
}
.graphic_generic_title_textbox_style_default_SkipStroke {
    background: transparent;
    opacity: 1.00;
}
.graphic_image_style_default_SkipStroke {
    background: transparent;
    opacity: 1.00;
}
.bumper {
    font-size: 1px;
    line-height: 1px;
}
.spacer {
    font-size: 1px;
    line-height: 1px;
}
body { 
    -webkit-text-size-adjust: none;
}
div { 
    overflow: visible; 
}
img { 
    border: none; 
}
.InlineBlock { 
    display: inline; 
}
.InlineBlock { 
    display: inline-block; 
}
.inline-block {
    display: inline-block;
    vertical-align: baseline;
    margin-bottom:0.3em;
}
.inline-block.shape-with-text {
    vertical-align: bottom;
}
.vertical-align-middle-middlebox {
    display: table;
}
.vertical-align-middle-innerbox {
    display: table-cell;
    vertical-align: middle;
}
div.paragraph {
    position: relative;
}
li.full-width {
    width: 100;
}
