.para1{font-size: 0; text-align:left; padding-bottom:11px; margin-top:0px; padding-top:0px;}
.Style2{font-family:  'Baskerville-SemiBold', 'Baskerville' ,'Times New Roman' ,serif ;
 font-size: 54px; 
 font-weight:700; 
 color: #DB6A48;
 word-wrap: break-word;}
.Style3{font-family:  'Baskerville-Bold', 'Baskerville' ,'Times New Roman' ,serif ;
 font-size: 18px; 
 font-weight:700; 
 color: #1C1B25;
 word-wrap: break-word;}
.Style4{font-family:  'Baskerville-SemiBold', 'Baskerville' ,'Times New Roman' ,serif ;
 font-size: 24px; 
 font-weight:600; 
 color: #DB6A47;
 word-wrap: break-word;}
.Style5{font-family:  'Baskerville' ,'Times New Roman' ,serif ;
 font-size: 16px; 
 font-weight:normal; 
 color: #1C1B25;
 word-wrap: break-word;}
.Style6{font-family:  'Baskerville' ,'Times New Roman' ,serif ;
 font-size: 16px; 
 font-weight:normal; 
 margin:0;
 color: #1C1B25;
 word-wrap: break-word;}
.Style7{font-family:  'Arial' ,sans-serif ;
 font-size: 12px; 
 font-weight:normal; 
 word-wrap: break-word;}
.linkStyle_8{font-family:  'Arial' ,sans-serif ;
 font-size: 12px; 
 font-weight:normal; 
 color: #0432FF;
 text-decoration: underline; 
 /* 0 0 0 #CBCBCB #942092 #FF2600 */
 word-wrap: break-word;}
.linkStyle_8:visited{color:#FEFB00; text-decoration:underline;}
.linkStyle_8:hover{color:#FF2600; text-decoration:underline;}
.para11{font-size: 0; text-align:left; padding-bottom:0px; margin-top:0px; padding-top:0px;}
.Style12{font-family:  'Baskerville' ,'Times New Roman' ,serif ;
 font-size: 16px; 
 font-weight:normal; 
 word-wrap: break-word;}
.Style13{font-family:  'Baskerville' ,'Times New Roman' ,serif ;
 font-size: 16px; 
 font-weight:normal; 
 margin:0;
 word-wrap: break-word;}
.Style14{font-family:  'Baskerville-SemiBold', 'Baskerville' ,'Times New Roman' ,serif ;
 font-size: 54px; 
 font-weight:700; 
 color: #4D1C01;
 word-wrap: break-word;}
.Style15{font-family:  'Baskerville' ,'Times New Roman' ,serif ;
 font-size: 24px; 
 font-weight:normal; 
 color: #4D1C01;
 word-wrap: break-word;}
a.outerlink{text-decoration:none}
.animhidden{opacity: 0}
.animvisible{opacity: 1}